<a href="https://colab.research.google.com/github/JonRivera/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module2-make-features/%20LS_DS_112_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
##### Begin Working Here #####
import pandas as pd

!wget  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2020-06-02 22:19:14--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 52.89.160.109, 35.163.140.110, 44.228.179.66
Connecting to resources.lendingclub.com (resources.lendingclub.com)|52.89.160.109|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [               <=>  ]  22.10M  2.07MB/s    in 11s

2020-06-02 22:19:26 (2.07 MB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [23170772]

In [0]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [0]:
df = pd.read_csv('LoanStats_2018Q4.csv', skiprows=1, skipfooter=2)
print(df.shape)
df.head(30)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

(128412, 144)

    id  member_id  ...  settlement_percentage  settlement_term
0  NaN        NaN  ...                    NaN              NaN
1  NaN        NaN  ...                    NaN              NaN
2  NaN        NaN  ...                    NaN              NaN
3  NaN        NaN  ...                    NaN              NaN
4  NaN        NaN  ...                    NaN              NaN
5  NaN        NaN  ...                    NaN              NaN
6  NaN        NaN  ...                    NaN              NaN
7  NaN        NaN  ...                    NaN              NaN
8  NaN        NaN  ...                    NaN              NaN
9  NaN        NaN  ...                    NaN              NaN
10 NaN        NaN  ...                    NaN              NaN
11 NaN        NaN  ...                    NaN              NaN
12 NaN        NaN  ...                    NaN              NaN
13 NaN        NaN  ...                    NaN              NaN
14 NaN        NaN  ...                    NaN              NaN
15 NaN        NaN  ...                    NaN              NaN
16 NaN        NaN  ...                    NaN              NaN
17 NaN        NaN  ...                    NaN              NaN
18 NaN        NaN  ...                    NaN              NaN
19 NaN        NaN  ...                    NaN              NaN
20 NaN        NaN  ...                    NaN              NaN
21 NaN        NaN  ...                    NaN              NaN
22 NaN        NaN  ...                    NaN              NaN
23 NaN        NaN  ...                    NaN              NaN
24 NaN        NaN  ...                    NaN              NaN
25 NaN        NaN  ...                    NaN              NaN
26 NaN        NaN  ...                    NaN              NaN
27 NaN        NaN  ...                    NaN              NaN
28 NaN        NaN  ...                    NaN              NaN
29 NaN        NaN  ...                    NaN              NaN

[30 rows x 144 columns]

In [0]:
def term_to_integer(term):
  return int(term.strip().strip('months'))

In [0]:
#testing function

test = ['36 months',  ' 36months', '24months']
test = [term_to_integer(months) for months in test]
test

[36, 36, 24]

In [0]:
#converting string column to integer
df['term'] = df['term'].apply(term_to_integer)

In [0]:
#Checking if term column was updated correctly
df.head(5)

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [0]:
def status_output(loan_status):
  if loan_status is "Current" or "Fully Paid":
    return 1
  else: 
    return 0
#testing function
test2 = ["Current","Fully Paid"]
test2 = [status_output(condition) for condition in test2]
test2

[1, 1]

In [0]:
# making loan_status_is_great column
df["loan_status_is_great"] = df["loan_status"].apply(status_output)
df

        id  member_id  ...  settlement_term  loan_status_is_great
0      NaN        NaN  ...              NaN                     1
1      NaN        NaN  ...              NaN                     1
2      NaN        NaN  ...              NaN                     1
3      NaN        NaN  ...              NaN                     1
4      NaN        NaN  ...              NaN                     1
...     ..        ...  ...              ...                   ...
128407 NaN        NaN  ...              NaN                     1
128408 NaN        NaN  ...              NaN                     1
128409 NaN        NaN  ...              NaN                     1
128410 NaN        NaN  ...              NaN                     1
128411 NaN        NaN  ...              NaN                     1

[128412 rows x 145 columns]

In [0]:
#making last_pymnt_d_month and last_pymnt_d_year columns.

[col for col in df if col.endswith('_d')]

['issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']

In [0]:
df['last_pymnt_d']

0         Feb-2020
1         May-2020
2         Feb-2019
3         May-2020
4         Apr-2019
            ...
128407    Dec-2018
128408    May-2020
128409    May-2020
128410    May-2020
128411    May-2020
Name: last_pymnt_d, Length: 128412, dtype: object

In [0]:
# changing column data type object to datetime object
df['last_pymnt_d']= pd.to_datetime(df['last_pymnt_d'], infer_datetime_format=True)
df['last_pymnt_d']

0        2020-02-01
1        2020-05-01
2        2019-02-01
3        2020-05-01
4        2019-04-01
            ...
128407   2018-12-01
128408   2020-05-01
128409   2020-05-01
128410   2020-05-01
128411   2020-05-01
Name: last_pymnt_d, Length: 128412, dtype: datetime64[ns]

In [0]:
# making last_pymnt_d_month and last_pymnt_d_year
df['last_pyment_d_month'] = df['last_pymnt_d'].dt.month
df['last_pyment_d_month']

0          2.0
1          5.0
2          2.0
3          5.0
4          4.0
          ...
128407    12.0
128408     5.0
128409     5.0
128410     5.0
128411     5.0
Name: last_pyment_d_month, Length: 128412, dtype: float64

In [0]:
df['last_pyment_d_year'] = df['last_pymnt_d'].dt.year
df['last_pyment_d_year']

0         2020.0
1         2020.0
2         2019.0
3         2020.0
4         2019.0
           ...
128407    2018.0
128408    2020.0
128409    2020.0
128410    2020.0
128411    2020.0
Name: last_pyment_d_year, Length: 128412, dtype: float64

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

In [0]:
#By looking at the raw data in excel I see that the revo_util column has % signs
#Now lets look for missing values in that same column
#It looks like the missing values are 0% and not NaN
#We can convert 0% to floats
df['revol_util'].value_counts(dropna=False)

0%        1132
43%        225
49%        222
39.1%      220
32%        217
          ...
107.1%       1
101.9%       1
113.3%       1
110.9%       1
105.8%       1
Name: revol_util, Length: 1075, dtype: int64

In [0]:
#checking data type for column, it appears to be an object
df['revol_util']

0           73%
1         59.2%
2         65.7%
3         54.2%
4         39.8%
          ...
128407    43.6%
128408    37.1%
128409    27.3%
128410    13.1%
128411    30.8%
Name: revol_util, Length: 128412, dtype: object

In [0]:
#Create function that converts % to floats and if 0% it gets converted NaN
def percent_to_floats(percent):
  if isinstance(percent,float):
    return percent
  elif percent.strip() == '0%':
    return None 
  elif isinstance(percent,object):
    return float(percent.strip().strip('%'))

#test function
test = [' 0%', " 0%", "0% ","101%"," 23%"]
test = [percent_to_floats(x) for x in test]
test

#kept getting an error floats can't be strip so I added an if statement
#to account for any possible floats maybe NaNs? that I didn't catch

[None, None, None, 101.0, 23.0]

In [0]:
#Apply function above to 'revol_util colulmns
df['revol_util'] = df['revol_util'].apply(percent_to_floats)

In [0]:
df['revol_util']

0         73.0
1         59.2
2         65.7
3         54.2
4         39.8
          ...
128407    43.6
128408    37.1
128409    27.3
128410    13.1
128411    30.8
Name: revol_util, Length: 128412, dtype: float64

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2020-06-02 22:27:09--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.37.198
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.37.198|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’

instacart_online_gr 100%[===================>] 196.03M  64.0MB/s    in 3.1s

2020-06-02 22:27:12 (64.0 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’ saved [205548478/205548478]

In [0]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [0]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01